.container {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1rem;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.4rem 1.1rem;
  border-radius: 4px;
  margin: 0 1rem;
}

.button:hover {
  background-color: #e46e65;
}
