.item {
  margin: 1rem 0;
  max-width: 350px;
}

.image {
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  min-height: 232px;
  object-fit: cover;
}

.content {
  text-align: center;
}

.content h3,
.content h2,
.content h1 {
  font-size: 1rem;
  color: #2c292b;
}

.content p {
  font-size: 0.9rem;
  color: #2c292b;
  padding: 0 1rem;
}

.read-more {
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #77002e;
}

.read-more:hover,
.read-more:active {
  cursor: pointer;
  color: #965c73;
}

.actions {
  text-align: center;
}

.actions button {
  font-size: 1rem;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.4rem 1.1rem;
  border-radius: 4px;
  margin: 0.8rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
