.card {
  width: 100%;
  padding: 0.6rem;
  background-color: darkcyan;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: -1;
  transition: 900ms;
  border-radius: 6px;
  margin: 0 auto;
}
/* 
.card {
  width: 100%;
  padding: 0.6rem;
  background-color: darkcyan;
  position: fixed;
  transition: 900ms;
  border-radius: 6px;
  margin: 0 auto;
} */

.active {
  top: 100px;
  transition: ease-in-out 900ms;
  background-color: darkcyan;
}

.card h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bump {
  animation: bump 900ms ease-out;
}

/* @keyframes active {
  0% {
    z-index: -1;
  }
  70% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
  50% {
    z-index: 0;
  }
  50% {
    z-index: -1;
  }
} */

@media (max-width: 720px) {
  .card {
    width: 100%;
    padding: 0.6rem;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 900ms;
    border-radius: 6px;
    margin: 0 auto;
  }

  .active {
    top: 50px;
    transition: ease-in-out 900ms;
    background-color: darkcyan;
  }
}
