.container {
  background-color: #77002e;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.github {
  text-align: center;
  background-color: orange;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.2rem;
}

.github a {
  text-decoration: underline;
  color: blue;
  padding-left: 1rem;
}

.main-nav {
  display: flex;
  flex: 3;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.main-nav li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fcb8d2;
  padding-left: 1rem;
}

.logo-section {
  display: flex;
  flex: 1;
  font-size: 1.6rem;
  color: #fcb8d2;
  justify-content: space-between;
  align-items: center;
}

.logo-section h1 {
  font-size: 1.5rem;
  margin: 0;
}

.icons {
  display: none;
}

.logo-section li {
  display: none;
}

.theme {
  width: 3rem;
  padding: 0 1rem;
}

.theme-icon {
  cursor: pointer;
  font-size: 1.3rem;
  width: 100%;
}

.theme-icon:hover {
  cursor: pointer;
  color: white;
}

.container li:hover,
.container li:active,
.container li.active {
  color: white;
}

.cart {
  display: unset;
}

@media (max-width: 700px) {
  .main-nav {
    padding: 0 2rem;
    margin: 0;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    font-size: 2rem;
    top: 0;
    left: -510px;
    transition: 900ms;
    background-color: #77002e;
    opacity: 0.9;
    align-items: self-start;
  }

  .main-nav li:nth-child(-n + 4),
  .main-nav li:nth-child(7),
  .main-nav li:nth-child(6) {
    padding: 1rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
  }

  .main-nav a {
    padding-left: 1rem;
  }

  .main-nav li:hover {
    background-color: darkslategray;
    color: #fff;
  }

  .logo-section li {
    display: unset;
  }

  .icons {
    display: unset;
  }

  .icons:hover {
    cursor: pointer;
  }

  .main-nav li:nth-child(5) {
    display: none;
  }

  .active {
    left: 0;
    transition: 900ms;
    background-color: #77002e;
  }

  .logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
  }
}
